html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
$commWith :100rem;
$commHeigth :20rem;
header {
  width: $commWith + (-30rem);
  height: $commHeigth/10;
  margin: 0 auto;
  border: 1px solid red;
  ul {
    width: $commWith + (-30rem);
    display: table-cell;
    height: $commHeigth/10;
    vertical-align: middle;
    border: 1px solid blue;
    text-align: center;
  }
  ul li {
    display: inline-block;
    width: $commWith/10;
    color: red;
    background: gainsboro;
    border: 1px solid blue;
    cursor: pointer;
  }
}